<h1>Help</h1>
<p>
	Get help on Ruby on Rails Tutorial at the 
	<a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
	To get help on this sample app, see the 
	<a href="http://www.railstutorial.org/book">Rails Tutorial book</a>. 
	I'm on <a href="http://www.railstutorial.org/chapters/static-pages#sec:static_pages_exercises">section 3.5</a> now!!
</p>